.container {
  width: 90%;
  max-width: 1024px;
  margin: 0 auto;
}

header .nav {
  display: flex;
  align-items: center;
  gap: 1rem;
}

header .nav .icon_back {
  font-size: 1.5rem;
  color: #2b2b2b;
  cursor: pointer;
}

.pokemon_search{
  margin-top: 3rem;
}
.pokemon__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
.pokemon__id {
  color: #ffa4fb;
}
.pokemon__name {
  text-transform: capitalize;
  font-weight: 700;
}
.pokemon__body {
  background: linear-gradient(45deg, #ffc0fd, #ff36f7);
  border-radius: 30px;
  padding: 1rem 0;
}
.pokemon__body figure {
  width: 100%;
  margin: 0 auto;
  height: 160px;
  position: relative;
}
.pokemon__body figure img {
  display: block;
  width: 70%;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-top: -90px;
}
.pokemon__attributes {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 1rem;
}
.pokemon__attributes__atribute {
  background-color: #ff36f7;
  color: #fff;
  border-radius: 10px;
  flex-grow: 1;
  padding: 1rem 0;
  text-align: center;
  font-size: 1.1rem;
  font-weight: bold;
  text-transform: capitalize;
}
.pokemon__statistics {
  height: 400px;
  background-color: #ff36f7;
  border-radius: 50px 50px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content__statistics{
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  color: #fff;
  text-align: center;
}
