.form_pokemon{
  flex-grow: 1;
}

.pokemon_search{
  width: 100%;
  display: block;
  border: 0;
  outline: none;
  border-radius: 30px;
  height: 40px;
  background-color: #F4F4F4;
  font-size: 1rem;
  padding: 0 1rem;
}
.pokemon_search::placeholder{
  text-align: center;
}